<%- include('../includes/head')%>
<link rel="stylesheet" href="../../public/css/home.css">
</head>

<body>
    <%- include('../includes/nav')%>
    <div class="container main bg-pic">
        <div class="main mainhead">
            <h1>
                Welcome to My Site
    
            </h1>
            <h3 class='maintitle'>
                View All Sites By Me
            </h3>

        </div>
    </div>
   <% if(sitelist!=undefined){%>
    <h2><%=sitelist%></h2>
    <%}else{%>
    <div class="container centered sitesdiv">
        <h1 class="massage">
            No Site Added
        </h1>

    </div>
    <%}%>
    <%- include('../includes/footer')%>
    <%- include('../includes/end')%>