<%- include('../includes/head')%>
<link rel="stylesheet" href="../../public/css/home.css">
</head>

<body>
    <%- include('../includes/nav')%>
    <div class="container main bg-pic">
        <div class="main mainhead">
            <h1>
                Welcome to My Site
    
            </h1>
            <h3 class='maintitle'>
                View All Sites By Me
            </h3>

        </div>
    </div>
        <div class="container card d-flex flex-row align-items-center justify-content-center" style="margin-bottom: 3rem;">
            <form action="/addSite" method="post"class='d-flex flex-column align-items-center justify-content-center'>
                <label for="title">Enter Title </label>
                <input class='form-control  mr-sm-2' type="text" placeholder="Email" name="title" id="title">
                <label for="discription">Enter Discription</label>
                <input class='form-control  mr-sm-2' type="text" name="discription" placeholder="Discription" id="discription">
                <label for="link">Enter Link</label>
                <input class='form-control  mr-sm-2' type="text" name="link" placeholder='Link' id="link">
                <button class='bg-info my-2' type="submit">Add Card</button>
            </form>
            
    </div>
    <% if(sitelist!=undefined){%>
        <div class="container d-flex align-items-center justify-content-center flex-wrap" style="margin-bottom: 3rem;">
            <%sitelist.forEach(site=>{%>
                <div class="card my-2 mx-2" style="width: 22rem;">
                    <div class="card-body">
                      <h5 class="card-title"><%=site.title%></h5>
                      <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                      <p class="card-text"><%=site.discription%></p>
                      <a href="#" class="card-link">Card link</a>
                      <a href="#" class="card-link">Another link</a>
                    </div>
                  </div>
            <%})%>
    </div>

    <%}else{%>
    <div class="container centered sitesdiv">
        <h1 class="massage">
            No Site Added
        </h1>

    </div>
    <%}%>
    <%- include('../includes/footer')%>
    <%- include('../includes/end')%>